pygame
kafka-python
pyspark

# ✨ Flask API용 패키지
flask
mysql-connector-python

# Airflow
apache-airflow==3.0.0
flask-appbuilder
passlib #python -c "from passlib.hash import pbkdf2_sha256; print(pbkdf2_sha256.hash('your_secure_password'))"

# django
django

# websocket
websocket
websocket-client
pygame_textinput

